In [1]:
print("Hello, Python Full Stack Students!")

Hello, Python Full Stack Students!

In [2]:
print("introduction to python")

introduction to python

In [3]:
print("Python is interupted, high level, general - purpose programming language")

Python is interupted, high level, general - purpose programming language

In [7]:
name = "jeshwanth"
age = 17
gpa = 8.0
is_student = True
print(name, age, gpa, is_student)

jeshwanth 17 8.0 True

In [8]:
Name = "Sathwik"
age = 18
gpa = 7.9
is_student = True
print(Name, age, gpa, is_student)

Sathwik 18 7.9 True

In [9]:
name = "karthik"
age = 18
gpa = 7.5
is_student = False
print(name, age, gpa, is_student)

karthik 18 7.5 False

In [13]:
x = 10
y = 3.14
z = "python"
flag = False
print(int , float, str, bool)

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [23]:
Name="jeshwanth"
collegename= "Avinash_college_of_commerce"
favorite_programming_language="Python" 
print(Name,collegename,favorite_programming_language)

jeshwanth Avinash_college_of_commerce Python

In [30]:
birth_year= 2008
current_year= 2025
age= current_year-birth_year
print(age)

17

In [33]:
movie_name= "little_hearts"
release_date= "september_5th"
rating= 9.0
print(movie_name, release_date, rating)

little_hearts september_5th 9.0

In [36]:
print("addition:",15+4)

addition: 19

In [37]:
print("division:",15/4)

division: 3.75

In [38]:
print("floordivision:",15//4)

floordivision: 3

In [39]:
print("power:",15**4)

power: 50625

In [40]:
print(10>20)

False

In [41]:
print(10==10)

True

In [43]:
print((10<20)and(20==20))

True

In [2]:
print("Day 2 ....................")

Day 2 ....................

In [11]:
fruits= ["apple", "banana", "mango"]
fruits.append("orange")
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])

['apple', 'banana', 'mango', 'orange']
apple
banana
mango
orange

In [5]:
team= ["sai", "naga", "nani", "jeshu"]
team.append("srinu")
print(team)
print(team[0])
print(team[1])
print(team[2])
print(team[3])
print(team[4])

['sai', 'naga', 'nani', 'jeshu', 'srinu']
sai
naga
nani
jeshu
srinu

In [12]:
fruits= ["apple", "banana", "mango"]
fruits.append("orange")
fruits.remove("apple")
fruits.sort()
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['banana', 'mango', 'orange']
banana
mango
orange

In [15]:
colours= ("red", "green", "blue")
print(colours[0])
#colours[1]= "yellow"

red

In [17]:
numbers= {1, 2, 3, 3, 4}
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

In [20]:
subjects= ["telugu", "hindi", "english", "mathematics", "science"]
subjects.append("socialstudies")
print(subjects)

['telugu', 'hindi', 'english', 'mathematics', 'science', 'socialstudies']

In [21]:
sports= ("crictet", "kabadi", "hockey")
print(sports[1])

kabadi

In [23]:
rollnumbers= {1,3,5,5,6,4,4,6}
rollnumbers.add(9)
print(rollnumbers)

{1, 3, 4, 5, 6, 9}

In [32]:
student= {"name": "jeshwanth",
          "age":16,
"course":"python full stack"}
student["college"]= "ACC"
print(student.keys())
print(student.values())
print(student["name"])
student["age"]= 17
print(student)

dict_keys(['name', 'age', 'course', 'college'])
dict_values(['jeshwanth', 16, 'python full stack', 'ACC'])
jeshwanth
{'name': 'jeshwanth', 'age': 17, 'course': 'python full stack', 'college': 'ACC'}

In [39]:
student= {"name":"kanna",
        "college":"anurag",
        "branch": "cse"}
print(student.values())

dict_values(['kanna', 'anurag', 'cse'])

In [47]:
marks= 35
if marks >=90:
    print("grade:a")
elif marks >=75:
    print("grade:b")
elif marks >=50:
    print("grade:c")
else:
    print("grade:fail")

grade:fail

In [48]:
marks= 75
if marks >=90:
    print("grade:a")
elif marks >=75:
    print("grade:b")
elif marks >=50:
    print("grade:c")
else:
    print("grade:fail")

grade:b

In [52]:
print("forloop")

forloop

In [49]:
for i in range(1, 6):
    print("number:",i)

number: 1
number: 2
number: 3
number: 4
number: 5

In [53]:
print("whileloop")

whileloop

In [54]:
count= 1
while count<=5:
    print("count:", count)
    count +=1

count: 1
count: 2
count: 3
count: 4
count: 5

In [56]:
print("25C91A0542")

25C91A0542

In [63]:
for i in range(1, 10):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [66]:
for i in range(1, 10):
    print("numbers:",i)

numbers: 1
numbers: 2
numbers: 3
numbers: 4
numbers: 5
numbers: 6
numbers: 7
numbers: 8
numbers: 9